*{
  padding: 0;
  margin: 0;
}
#title{
  color:#71d171;
  text-align: center;
  padding:1em;
}
body {
  background-color: #282c34;
  overflow: hidden;
}
.maze{
  
  position: fixed;
  overflow: auto;
}
.bg{

}